@using System.Security.Claims
@model RestaurantsWithCategoriesViewModel

@{
	Layout = "~/Views/Shared/_LayoutFoodTime.cshtml";
}
<div class="page-content bg-white">
	<!-- Banner  -->
	<div class="dz-bnr-inr style-1 text-center bg-parallax" style="background-image:url('../foodtime/images/banner/bn2_1.jpg'); background-size:cover; background-position:center;">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>Ресторанти</h1>
				<!-- Breadcrumb Row -->
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Начало</a></li>
						<li class="breadcrumb-item active" aria-current="page">Ресторанти</li>
					</ul>
				</nav>
				<!-- Breadcrumb Row End -->
			</div>
		</div>
	</div>
	<!-- Banner End -->
    <!-- Search Section -->
    <section class="content-inner-1">
        <div class="container">
            <div class="row search-wraper text-center">
                <div class="col-lg-8 m-auto">
                    <form>
                        <div class="input-group">
                            <input name="keyword" required="required" type="text" class="form-control" placeholder="Търсене в ресторанти...">
                            <div class="input-group-addon">
                                <button name="submit" asp-controller="Restaurant" asp-action="Search" asp-route-id="keyword" value="submit" type="submit" class="btn btn-primary btn-hover-2">
                                    <span>Търсене</span><i class="icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <aside class="side-bar left sticky-top">
                        <div class="shop-filter">
                            <div class="widget widget_tag_cloud ">
                                <div class="d-flex justify-content-between">
                                    <div class="widget-title">
                                        <h4 class="title">Сортиране по:</h4>
                                    </div>
                                    <a href="javascript:void(0);" class="panel-close-btn"><i class="fa-solid fa-xmark"></i></a>
                                </div>
                                <div class="tagcloud">
                                    <a href="@Url.Action("Nearest","Restaurant")">Близо до мен</a>
                                    <a href="@Url.Action("ServiceFee","Restaurant")">Такса за доставка</a>
                                </div>
                            </div>
                            <div class="widget widget_tag_cloud ">
                                <div class="d-flex justify-content-between">
                                    <div class="widget-title">
                                        <h4 class="title">Филтър</h4>
                                    </div>
                                    <a href="javascript:void(0);" class="panel-close-btn"><i class="fa-solid fa-xmark"></i></a>
                                </div>
                                <div class="tagcloud">
                                    @foreach (var (categoryName, categoryId) in Model.CategoryNames.Zip(Model.CategoryIds, (name, id) => (name, id)))
                                    {
                                        <div><a href="@Url.Action("ByCategory", "Restaurant", new { categoryId })">@categoryName</a></div>
                                    }
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-9">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="title mb-md-3 mb-lg-4 m-b20 d-none d-lg-block">@ViewData["ListTitle"]</h5>
                    </div>
                    @if (Model.RestaurantViewModels.Count() == 0)
                    {
                        <p>Няма намерени резултати.</p>
                    }
                    else
                    {
                        <ul id="masonry" class="row">
                            <!-- Display restaurant cards -->
                            @foreach (var restaurant in Model.RestaurantViewModels)
                            {
                                <li class="card-container col-xl-4 col-md-6 m-b30">
                                    <div class="dz-img-box style-7">
                                        <div class="dz-media">
                                            <img src="@Url.Content(restaurant.ImageURL)" alt="@restaurant.Title">
                                            <div class="dz-meta">
                                                <ul>
                                                    <li class="seller">@restaurant.RestaurantCategory</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="dz-content">
                                            <h5 class="title"><a href="@Url.Action("Menu","Restaurant", new { restaurantId = restaurant.Id })">@restaurant.Title</a></h5>
                                            <span>@restaurant.ServiceFee лв. · @restaurant.MinDeliveryTimeInMinutes - @restaurant.MaxDeliveryTimeInMinutes мин.</span>
                                        </div>
                                        @if (User.IsAdmin())
                                        {
                                            <div class="dz-action" style="padding-bottom: 20px;">
                                                <button type="button" class="btn btn-warning btn-sm" onclick="location.href='@Url.Action("Edit", "Restaurant", new { restaurantId = restaurant.Id })'">Редактирай</button>
                                                <button type="button" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Delete", "Restaurant", new { restaurantId = restaurant.Id })'">Изтрий</button>
                                            </div>
                                        }
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
<partial name="FoodTime/_MenuDetailModal" />
@section foodtime_style
	{
	<!-- Stylesheet -->
	<link href="~/foodtime/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
	<link href="~/foodtime/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
	<link rel="stylesheet" href="~/foodtime/vendor/nouislider/nouislider.min.css">
}
@section foodtime_script
	{
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="~/foodtime/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="~/foodtime/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="~/foodtime/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELEECT -->
	<script src="~/foodtime/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
	<script src="~/foodtime/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="~/foodtime/vendor/masonry/masonry-4.2.2.js"></script><!-- MASONRY -->
	<script src="~/foodtime/vendor/masonry/isotope.pkgd.min.js"></script><!-- ISOTOPE -->
	<script src="~/foodtime/vendor/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
	<script src="~/foodtime/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/foodtime/vendor/wow/wow.js"></script><!-- WOW JS -->
	<script src="~/foodtime/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- TOUCHSPIN -->
	<script src="~/foodtime/vendor/nouislider/nouislider.min.js"></script><!-- NOUSLIDER MIN JS-->
	<script src="~/foodtime/vendor/wnumb/wNumb.js"></script><!-- WNUMB -->
	<script src="~/foodtime/vendor/particles/particles.js"></script>
	<script src="~/foodtime/vendor/particles/particles-app.js"></script>
	<script src="~/foodtime/js/dz.ajax.js"></script><!-- AJAX -->
	<script src="~/foodtime/js/custom.min.js"></script><!-- CUSTOM JS -->
	
	<script src="~/foodtime/vendor/rangeslider/rangeslider.js"></script><!-- RANGESLIDER -->
	
}