<header class="site-header mo-left header header-transparent transparent-white style-2">
	<!-- Main Header -->
	<div class="sticky-header main-bar-wraper navbar-expand-lg">
		<div class="main-bar clearfix ">
			<div class="container-fluid clearfix">

				<!-- Website Logo -->
				<div class="logo-header mostion">
					<a href="@Url.Action("Index","FoodTime")" class="logo-dark"><img src="~/foodtime/images/logo.png" alt="/"></a>
				</div>

				<!-- Nav Toggle Button -->
				<button class="navbar-toggler navbar-toggler navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>

				<!-- EXTRA NAV -->
				<div class="extra-nav">
					<div class="extra-cell">
						<form method="post">
							<div class="input-group">
								<input required="required" type="text" class="form-control" placeholder="Search">
								<div class="input-group-addon">
									<button name="submit" value="submit" type="submit" class="btn btn-primary btn-hover-2">
										<span><i class="fa-solid fa-magnifying-glass"></i></span>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- EXTRA NAV -->
				<!-- Header Nav -->
				<div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
					<div class="logo-header">
						<a href="@Url.Action("Index","FoodTime")"><img src="~/foodtime/images/logo.png" alt="/"></a>
					</div>
					<ul class="nav navbar-nav navbar navbar-left">
						<li><a href="@Url.Action("Index","Home")">Начало</a></li>
						<li><a href="@Url.Action("Index","Restaurant")">Ресторанти</a></li>
						<li><a href="@Url.Action("Index","Blog")">Блог</a></li>
						<li><a href="@Url.Action("Index","Contact")">Контакти</a></li>
					</ul>
					<div class="dz-social-icon">
						<ul>
							<li><a target="_blank" class="fab fa-facebook-f" href="https://www.facebook.com/"></a></li>
							<li><a target="_blank" class="fab fa-twitter" href="https://twitter.com/"></a></li>
							<li><a target="_blank" class="fab fa-linkedin-in" href="https://www.linkedin.com/"></a></li>
							<li><a target="_blank" class="fab fa-instagram" href="https://www.instagram.com/"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main Header End -->
</header>
