@{
	Layout = "~/Views/Shared/_LayoutFoodTime.cshtml";
}
<div class="page-content bg-white">
	<!-- Banner  -->
	<div class="dz-bnr-inr style-1 text-center bg-parallax bg-parallax" style="background-image:url('../foodtime/images/banner/bnr1.jpg'); background-size:cover; background-position:center;">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>About Us</h1>
				<!-- Breadcrumb Row -->
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="@Url.Action("Index","FoodTime")">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">About Us</li>
					</ul>
				</nav>
				<!-- Breadcrumb Row End -->
			</div>
		</div>
	</div>
	<!-- Banner End -->
	<!-- Visit Restaurant -->
	<section class="content-inner pb-0">
		<div class="container">
			<div class="section-head text-center">
				<h2 class="title">We Invite you to Visit Our Restaurant</h2>
				<p class="about-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="about-media dz-media rounded-md">
						<img src="~/foodtime/images/background/pic11.jpg" alt="/">
						<a class="video video-btn popup-youtube" href="https://www.youtube.com/watch?v=XJb1G9iRoL4">
							<i class="fa-solid fa-play"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Visit Restaurant -->
	<!-- Service Section -->
	<section class="content-inner">
		<div class="container">
			<div class="section-head text-center">
				<h2 class="title">What We Do</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="icon-bx-wraper style-3">
						<div class="icon-bx">
							<div class="icon-cell">
								<i class="flaticon-vegetable"></i>
							</div>
						</div>
						<div class="icon-content">
							<h5 class="title"><a href="@Url.Action("ServiceDetail","FoodTime")">Fresh Products</a></h5>
							<p>Lorem Ipsum is simply dummy text of the printing and </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="icon-bx-wraper style-3">
						<div class="icon-bx">
							<div class="icon-cell">
								<i class="flaticon-chef-hat"></i>
							</div>
						</div>
						<div class="icon-content">
							<h5 class="title"><a href="@Url.Action("ServiceDetail","FoodTime")">Skilled Chefs</a></h5>
							<p>Lorem Ipsum is simply dummy text of the printing and </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="icon-bx-wraper style-3">
						<div class="icon-bx">
							<div class="icon-cell">
								<i class="flaticon-cocktail"></i>
							</div>
						</div>
						<div class="icon-content">
							<h5 class="title"><a href="@Url.Action("ServiceDetail","FoodTime")">Best Bar</a></h5>
							<p>Lorem Ipsum is simply dummy text of the printing and </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="icon-bx-wraper style-3">
						<div class="icon-bx">
							<div class="icon-cell">
								<i class="flaticon-cuisine"></i>
							</div>
						</div>
						<div class="icon-content">
							<h5 class="title"><a href="@Url.Action("ServiceDetail","FoodTime")">Vegan Cuisine</a></h5>
							<p>Lorem Ipsum is simply dummy text of the printing and </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Service Section -->

</div>

@section foodtime_style
	{
	<!-- Stylesheet -->
	<link href="~/foodtime/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
	<link href="~/foodtime/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="~/foodtime/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="~/foodtime/vendor/lightgallery/dist/css/lightgallery.css" rel="stylesheet">
	<link href="~/foodtime/vendor/lightgallery/dist/css/lg-thumbnail.css" rel="stylesheet">
	<link href="~/foodtime/vendor/lightgallery/dist/css/lg-zoom.css" rel="stylesheet">
}
@section foodtime_script
	{
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="~/foodtime/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="~/foodtime/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="~/foodtime/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELEECT -->
	<script src="~/foodtime/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
	<script src="~/foodtime/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="~/foodtime/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/foodtime/vendor/wow/wow.js"></script><!-- WOW JS -->
	<script src="~/foodtime/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="~/foodtime/vendor/lightgallery/dist/lightgallery.min.js"></script>
	<script src="~/foodtime/vendor/lightgallery/dist/plugins/thumbnail/lg-thumbnail.min.js"></script>
	<script src="~/foodtime/vendor/lightgallery/dist/plugins/zoom/lg-zoom.min.js"></script>
	<script src="~/foodtime/vendor/swiper/swiper-bundle.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/foodtime/vendor/particles/particles.js"></script>
	<script src="~/foodtime/vendor/particles/particles-app.js"></script>
	<script src="~/foodtime/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/foodtime/js/dz.ajax.js"></script><!-- AJAX -->
	<script src="~/foodtime/js/custom.js"></script><!-- CUSTOM JS -->
	
	<script src="~/foodtime/vendor/rangeslider/rangeslider.js"></script><!-- CUSTOM JS -->
	
}