@model ReservationFormModel
@{
	Layout = "~/Views/Shared/_LayoutFoodTime.cshtml";
}
<div class="page-content bg-white">
	<!-- Banner  -->
	<div class="dz-bnr-inr style-1 text-center bg-parallax" style="background-image:url('../foodtime/images/banner/bnr1.jpg'); background-size:cover; background-position:center;">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>Contact Us</h1>
				<!-- Breadcrumb Row -->
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Начало</a></li>
						<li class="breadcrumb-item active" aria-current="page">Контакти</li>
					</ul>
				</nav>
				<!-- Breadcrumb Row End -->
			</div>
		</div>
	</div>
	<!-- Banner End -->
	<!-- Contact Section -->
	<section class="section-wrapper-8 content-inner-1">
		<div class="container">
			<div class="section-head text-center">
				<h2 class="title">Резервация</h2>
			</div>
			<form class="dzForm dezPlaceAni" method="POST" action="@Url.Action("Reservation", "Contact")">
				<div class="dzFormMsg"></div>
				<input type="hidden" class="form-control" name="dzToDo" value="Contact">
				<input type="hidden" name="userName" value="@Model.Name" />
				<input type="hidden" name="userEmail" value="@Model.Email" />
				<input type="hidden" name="restaurantId" value="@Model.RestaurantID" />
				<div class="row">
					<div class="col-lg-6 col-md-6 m-b30 m-sm-b50">
						<label class="form-label text-primary">@Model.Name</label>
						<div class="input-group input-line input-black">
							<input name="dzName" required type="text" class="form-control" placeholder="">
						</div>
					</div>
					<div class="col-lg-6 col-md-6 m-b30 m-sm-b50">
						<label class="form-label text-primary">@Model.Email</label>
						<div class="input-group input-line input-black">
							<input name="dzEmail" required type="text" class="form-control" placeholder="">
						</div>
					</div>
					<div class="mb-3">
						<label asp-for="@Model.RestaurantID" class="form-label-add-edit">Ресторант</label>
						<select asp-for="@Model.RestaurantID" class="form-control" aria-required="true">
							<option disabled selected value="">Изберете ресторант...</option>
							@foreach (var restaurant in Model.Restaurants)
							{
								<option value="@restaurant.Id">@restaurant.Title</option>
							}
						</select>
						<span asp-validation-for="@Model.RestaurantID" class="text-danger"></span>
					</div>
					<div class="col-lg-6 col-md-6 m-b30 m-sm-b50">
						<label class="form-label text-primary">Брой хора</label>
						<div class="input-group input-line input-black">
							<input name="dzOther[Person]" required type="text" class="form-control" placeholder="">
						</div>
					</div>
					<div class="col-sm-12 m-b40">
						<label class="form-label text-primary">@Model.Message</label>
						<div class="input-group input-line input-black">
							<textarea name="dzMessage" required class="form-control" placeholder="Напишете Вашето съобщение тук..."></textarea>
						</div>
					</div>
					<div class="col-12 text-center">
						<button name="submit" value="submit" type="submit" class="btn btn-primary btn-hover-1"><span>Резервирай</span></button>
					</div>
				</div>
			</form>
		</div>
	</section>
	<!-- Contact Section -->
</div>

@section foodtime_style
	{
	<!-- Stylesheet -->
	<link href="~/foodtime/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
	<link href="~/foodtime/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="~/foodtime/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
}
@section foodtime_script
	{
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="~/foodtime/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="~/foodtime/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="~/foodtime/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELEECT -->
	<script src="~/foodtime/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
	<script src="~/foodtime/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="~/foodtime/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/foodtime/vendor/wow/wow.js"></script><!-- WOW JS -->
	<script src="~/foodtime/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="~/foodtime/vendor/swiper/swiper-bundle.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/foodtime/vendor/particles/particles.js"></script>
	<script src="~/foodtime/vendor/particles/particles-app.js"></script>
	<script src="~/foodtime/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/foodtime/js/dz.ajax.js"></script><!-- AJAX -->
	<script src="~/foodtime/js/custom.min.js"></script><!-- CUSTOM JS -->
	<script src='https://www.google.com/recaptcha/api.js'></script> <!-- Google API For Recaptcha  -->
	
	<script src="~/foodtime/vendor/rangeslider/rangeslider.js"></script><!-- RANGESLIDER -->
	
}