@model ProductDetailsViewModel

@{
	Layout = "~/Views/Shared/_LayoutFoodTime.cshtml";
}

	<!-- Product Detail Section -->
	<div class="page-content bg-white">
	<section class="content-inner-1 overflow-hidden">
		<div class="container">
			<div class="row product-detail">
				<div class="col-lg-4 col-md-5">
					<div class="detail-media m-b30">
						<img src="@Url.Content(Model.ImageURL)" alt="@Model.Title">
					</div>
				</div>
				<div class="col-lg-8 col-md-7">
					<div class="detail-info">
						<div class="dz-head">
							<h2 class="title">@Model.Title</h2>
						</div>
						<ul class="detail-list">
							<li><span class="text-primary m-t5">@Model.Price лв.</span></li>
							<li>
								<div class="btn-quantity style-1 m-t5">
									<input id="demo_vertical2" type="text" value="1" name="demo_vertical2">
								</div>
							</li>
						</ul>
						<h6 class="title">Добавки</h6>
						<ul class="add-product">
							<li>
								<div class="mini-modal">
									<div class="dz-media">
										<img src="~/foodtime/images/modal/mini/pic1.jpg" alt="/">
									</div>
									<div class="dz-content">
										<p class="title">French Frise</p>
										<div class="form-check search-content">
											<input class="form-check-input" type="checkbox" value="">
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="mini-modal">
									<div class="dz-media">
										<img src="~/foodtime/images/modal/mini/pic2.jpg" alt="/">
									</div>
									<div class="dz-content">
										<p class="title">Extra Cheese</p>
										<div class="form-check search-content">
											<input class="form-check-input" type="checkbox" value="">
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="mini-modal">
									<div class="dz-media">
										<img src="~/foodtime/images/modal/mini/pic3.jpg" alt="/">
									</div>
									<div class="dz-content">
										<p class="title">Coca Cola</p>
										<div class="form-check search-content">
											<input class="form-check-input" type="checkbox" value="">
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="mini-modal">
									<div class="dz-media">
										<img src="~/foodtime/images/modal/mini/pic4.jpg" alt="/">
									</div>
									<div class="dz-content">
										<p class="title">Choco Lava</p>
										<div class="form-check search-content">
											<input class="form-check-input" type="checkbox" value="">
										</div>
									</div>
								</div>
							</li>
						</ul>
						<div class="d-lg-flex justify-content-between">
							<ul class="modal-btn-group">
								<li><a href="@Url.Action("ShopCart","FoodTime")" class="btn btn-primary btn-hover-1"><span>Добави<i class="flaticon-shopping-bag-1 m-l10"></i></span></a></li>
								<li><a href="@Url.Action("ShopCheckout","FoodTime")" class="btn btn-outline-secondary btn-hover-1"><span>Количка<i class="flaticon-shopping-cart m-l10"></i></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="content-inner pt-0">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="nav nav-tabs tabs-style-1">
						<li class="nav-item">
							<button class="nav-link active" data-bs-toggle="tab" href="#web-design-1">
								<i class="icon-globe"></i>
								<span class="d-none d-md-inline-block m-l10">Описание</span>
							</button>
						</li>
						<li class="nav-item">
							<button class="nav-link" data-bs-toggle="tab" href="#graphic-design-1">
								<i class="icon-image"></i>
								<span class="d-none d-md-inline-block m-l10">Допълнителна информация</span>
							</button>
						</li>
					</ul>
					<div class="tab-content">
						<div id="web-design-1" class="tab-pane active">
							<p class="m-b10">@Model.Description</p>
						</div>
						<div id="graphic-design-1" class="tab-pane">
							<table class="table-bordered check-tbl">
								<tr>
									<td>Категория</td>
									<td>@Model.ItemCategory</td>
								</tr>
								<tr>
									<td>Съдържание</td>
									<td>
										@{
											if (@Model.IsVeggie)
											{
												<span class="badge">
													<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
														<rect x="0.5" y="0.5" width="16" height="16" stroke="#0F8A65" />
														<circle cx="8.5" cy="8.5" r="5.5" fill="#0F8A65" />
													</svg>
												</span>
												<span text-color="black">Вегетарианско ястие</span>
											}
											else
											{
												<span class="badge">
													<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
														<rect x="0.5" y="0.5" width="16" height="16" stroke="#c4302b" />
														<circle cx="8.5" cy="8.5" r="5.5" fill="#c4302b" />
													</svg>
												</span>
												<span text-color="black">Съдържа животински продукти</span>
											}
										}
									</td>
								</tr>
								<tr>
									<td>Степен на лютивост</td>
									<td>@Model.SpicyCategory</td>
								</tr>
								<tr>
									<td>Време за доставка</td>
									<td>@Model.MinDeliveryTimeInMinutes - @Model.MaxDeliveryTimeInMinutes мин.</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Product Detail Section -->

</div>

@section foodtime_style
{
		<!-- Stylesheet -->
		<link href="~/foodtime/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
		<link href="~/foodtime/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="~/foodtime/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
}

@section foodtime_script
{
		<!-- JAVASCRIPT FILES ========================================= -->
		<script src="~/foodtime/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
		<script src="~/foodtime/js/favorite.js"></script>
		<script src="~/foodtime/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
		<script src="~/foodtime/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELEECT -->
		<script src="~/foodtime/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
		<script src="~/foodtime/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
		<script src="~/foodtime/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
		<script src="~/foodtime/vendor/wow/wow.js"></script><!-- WOW JS -->
		<script src="~/foodtime/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- TOUCHSPIN -->
		<script src="~/foodtime/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
		<script src="~/foodtime/vendor/swiper/swiper-bundle.min.js"></script><!-- OWL-CAROUSEL -->
		<script src="~/foodtime/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
		<script src="~/foodtime/vendor/particles/particles.js"></script>
		<script src="~/foodtime/vendor/particles/particles-app.js"></script>
		<script src="~/foodtime/js/dz.ajax.js"></script><!-- AJAX -->
		<script src="~/foodtime/js/custom.min.js"></script><!-- CUSTOM JS -->
		<script src="~/foodtime/js/jquery.star-rating-svg.js"></script><!-- Star Rating JS -->

		<script src="~/foodtime/vendor/rangeslider/rangeslider.js"></script><!-- CUSTOM JS -->
}
