@using System.Security.Claims
@model ArticlesWithCategoriesViewModel
@{
	Layout = "~/Views/Shared/_LayoutFoodTime.cshtml";
}
<div class="page-content bg-white">
	<!-- Banner  -->
	<div class="dz-bnr-inr style-1 text-center bg-parallax" style="background-image:url('../foodtime/images/banner/bnr3.jpg'); background-size:cover; background-position:center;">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>Блог</h1>
				<!-- Breadcrumb Row -->
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Начало</a></li>
						<li class="breadcrumb-item active" aria-current="page">Блог</li>
					</ul>
				</nav>
				<!-- Breadcrumb Row End -->
			</div>
		</div>
	</div>
	<!-- Banner End -->
	<!-- Blog Section -->
	<section class="content-inner">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-4 order-lg-1 order-2">
					<aside class="side-bar sticky-top left">
						<div class="widget">
							<div class="widget-title">
								<h4 class="title">Search</h4>
							</div>
							<div class="search-bx">
								<form>
									<div class="input-group">
										<div class="input-side">
											<input name="keyword" class="form-control" placeholder="Търсене" type="text">
											<div class="input-group-btn">
												<button name="submit" value="submit" type="submit" asp-controller="Blog" asp-action="Search" asp-route-id="keyword" class="btn btn-primary">
													<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M9.58366 17.5001C13.9559 17.5001 17.5003 13.9557 17.5003 9.58342C17.5003 5.21116 13.9559 1.66675 9.58366 1.66675C5.21141 1.66675 1.66699 5.21116 1.66699 9.58342C1.66699 13.9557 5.21141 17.5001 9.58366 17.5001Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
														<path d="M18.3337 18.3334L16.667 16.6667" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
													</svg>
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="widget widget_categories">
							<div class="widget-title">
								<h4 class="title">Категории</h4>
							</div>
							<ul>
								@foreach (var (categoryName, categoryId) in Model.CategoryNames.Zip(Model.CategoryIds, (name, id) => (name, id)))
								{
									<li class="cat-item"><a href="@Url.Action("ByCategory", "Blog", new { categoryId })">@categoryName</a></li>
								}
							</ul>
						</div>
						<div class="widget recent-posts-entry">
							<div class="widget-title">
								<h4 class="title">Последни публикации</h4>
							</div>
							<div class="widget-post-bx">
								<div class="widget-post clearfix">
									<div class="dz-media">
										<img src="~/foodtime/images/blog/recent-blog/pic1.jpg" alt="/">
									</div>
									<div class="dz-info">
										<h6 class="title"><a href="@Url.Action("BlogStandard","FoodTime")">Explore the Food Taste</a></h6>
										<div class="dz-meta">
											<ul>
												<li>
													<a href="javascript:void(0);">
														<i class="flaticon-calendar-date"></i>
														10 Dec, 2023
													</a>
												</li>
												<li>
													<a href="javascript:void(0);">
														<i class="flaticon-chat-bubble"></i>
														2.5K
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="widget-post clearfix">
									<div class="dz-media">
										<img src="~/foodtime/images/blog/recent-blog/pic2.jpg" alt="/">
									</div>
									<div class="dz-info">
										<h6 class="title"><a href="@Url.Action("BlogStandard","FoodTime")">Secrets of Delicious Food</a></h6>
										<div class="dz-meta">
											<ul>
												<li>
													<a href="javascript:void(0);">
														<i class="flaticon-calendar-date"></i>
														16 May, 2023
													</a>
												</li>
												<li>
													<a href="javascript:void(0);">
														<i class="flaticon-chat-bubble"></i>
														1.5K
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="widget-post clearfix">
									<div class="dz-media">
										<img src="~/foodtime/images/blog/recent-blog/pic3.jpg" alt="/">
									</div>
									<div class="dz-info">
										<h6 class="title"><a href="@Url.Action("BlogStandard","FoodTime")"> Inspiration for Food</a></h6>
										<div class="dz-meta">
											<ul>
												<li>
													<a href="javascript:void(0);">
														<i class="flaticon-calendar-date"></i>
														20 Jan, 2023
													</a>
												</li>
												<li>
													<a href="javascript:void(0);">
														<i class="flaticon-chat-bubble"></i>
														3.5K
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="widget widget_tag_cloud mb-3">
							<div class="widget-title">
								<h4 class="title">Popular Tags</h4>
							</div>
							<div class="tagcloud">
								<a href="@Url.Action("ProductDetail","FoodTime")">Pizza</a>
								<a href="@Url.Action("ProductDetail","FoodTime")">Chicken</a>
								<a href="@Url.Action("ProductDetail","FoodTime")">Pizza Veronese</a>
								<a href="@Url.Action("ProductDetail","FoodTime")">Burger</a>
								<a href="@Url.Action("ProductDetail","FoodTime")">Sandwich</a>
							</div>
						</div>
					</aside>
				</div>
				<div class="col-xl-8 col-lg-8 order-lg-2 order-1 m-b30">
					<div class="row">
						<div class="d-flex justify-content-between align-items-center">
							<h5 class="title mb-md-3 mb-lg-4 m-b20 d-none d-lg-block">@ViewData["ListTitle"]</h5>
						</div>
						@if (Model.Articles.Count() == 0)
						{
							<p>Няма намерени резултати.</p>
						}
						else
						{
							@foreach (var article in Model.Articles)
							{
								<div class="col-lg-6 col-md-6">
									<div class="dz-card style-1 overlay-shine dz-img-effect zoom m-b30">
										<div class="dz-media">
											<a href="@Url.Action("BlogStandard","FoodTime")"><img src="@Url.Content(@article.ImageUrl)" alt="@article.Title"></a>
										</div>
										<div class="dz-info">
											<div class="dz-meta">
												<ul>
													<li><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i>@article.PublicationDate</a></li>
												</ul>
											</div>
											<h5 class="dz-title"><a href="@Url.Action("BlogStandard","FoodTime")">@article.Title</a></h5>
											<p>@article.Resume</p>
											<a href="@Url.Action("BlogStandard","FoodTime")" class="btn btn-primary btn-hover-2">Прочети...</a>
										</div>
									</div>
								</div>
							}
						}
					</div>
					<div class="text-center m-t10">
						<ul class="pagination m-b15">
							<li class="page-item"><a class="page-link prev" href="javascript:void(0);"><i class="fas fa-chevron-left"></i></a></li>
							<li class="page-item"><a class="page-link active" href="javascript:void(0);"><span>1</span></a></li>
							<li class="page-item"><a class="page-link" href="javascript:void(0);"><span>2</span></a></li>
							<li class="page-item"><a class="page-link" href="javascript:void(0);"><span>3</span></a></li>
							<li class="page-item"><a class="page-link next" href="javascript:void(0);"><i class="fas fa-chevron-right"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Section -->

</div>

@section foodtime_style
	{
	<!-- Stylesheet -->
	<link href="~/foodtime/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
	<link href="~/foodtime/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="~/foodtime/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
}
@section foodtime_script
	{
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="~/foodtime/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="~/foodtime/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="~/foodtime/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELEECT -->
	<script src="~/foodtime/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
	<script src="~/foodtime/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="~/foodtime/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/foodtime/vendor/wow/wow.js"></script><!-- WOW JS -->
	<script src="~/foodtime/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="~/foodtime/vendor/swiper/swiper-bundle.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/foodtime/vendor/particles/particles.js"></script>
	<script src="~/foodtime/vendor/particles/particles-app.js"></script>
	<script src="~/foodtime/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/foodtime/js/dz.ajax.js"></script><!-- AJAX -->
	<script src="~/foodtime/js/custom.min.js"></script><!-- CUSTOM JS -->
	
	<script src="~/foodtime/vendor/rangeslider/rangeslider.js"></script><!-- CUSTOM JS -->
	
}