@model BlogArticleFormModel
@{
	Layout = "~/Views/Shared/_LayoutFoodTimeBlog.cshtml";
}
<div class="page-content bg-white">

	<!-- Banner  -->
	<div class="dz-breadcrumb-bnr">
		<div class="container">
			<nav aria-label="breadcrumb" class="breadcrumb-row">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Начало</a></li>
					<li class="breadcrumb-item"><a href="@Url.Action("All","Blog")">Блог</a></li>
					<li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- Banner End -->
	<!-- Blog Detail -->
	<div class="page-content bg-white">
		<section class="content-inner-1 overflow-hidden">
			<div class="container">
				<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
					<div class="d-flex justify-content-between align-items-center">
						<h5 class="title mb-md-3 mb-lg-4 m-b20 d-none d-lg-block">Редактиране на статия</h5>
					</div>
					<form asp-action="Edit" asp-controller="Blog" method="post">
						<div class="mb-3">
							<label asp-for="@Model.Title" class="form-label-add-edit">Заглавие</label>
							<input asp-for="@Model.Title" class="form-control" aria-required="true" />
							<span asp-validation-for="@Model.Title" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<label asp-for="@Model.PublicationDate" class="form-label-add-edit">Дата на публикуване</label>
							<input asp-for="@Model.PublicationDate" class="form-control" aria-required="true" placeholder="@Model.PublicationDate" )" />
							<span asp-validation-for="@Model.PublicationDate" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<label asp-for="@Model.ReadingTime" class="form-label-add-edit">Време за прочитане</label>
							<input asp-for="@Model.ReadingTime" class="form-control" aria-required="true" />
							<span asp-validation-for="@Model.ReadingTime" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<label asp-for="@Model.Content" class="form-label-add-edit">Съдържание</label>
							<input asp-for="@Model.Content" class="form-control" aria-required="true" />
							<span asp-validation-for="@Model.Content" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<label asp-for="@Model.Image" class="form-label-add-edit">Image URL</label>
							<input asp-for="@Model.Image" class="form-control" placeholder="Image URL" />
							<span asp-validation-for="@Model.Image" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<label asp-for="@Model.BlogArticleCategoryId" class="form-label-add-edit">Категория</label>
							<select asp-for="@Model.BlogArticleCategoryId" class="form-control" aria-required="true">
								<option disabled selected value="">Изберете категория...</option>
								@foreach (var category in Model.Categories)
								{
									<option value="@category.Id">@category.Title</option>
								}
							</select>
							<span asp-validation-for="@Model.BlogArticleCategoryId" class="text-danger"></span>
						</div>
						<input type="hidden" name="articleId" value="@ViewBag.ArticleId" />
						<div class="mb-3">
							<input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Запазете промените" />
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
	<!-- Product Detail Section -->
</div>

@section foodtime_style
	{
	<!-- Stylesheet -->
	<link href="~/foodtime/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
	<link href="~/foodtime/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="~/foodtime/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
}
@section foodtime_script
	{
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="~/foodtime/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="~/foodtime/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="~/foodtime/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELEECT -->
	<script src="~/foodtime/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="~/foodtime/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/foodtime/vendor/wow/wow.js"></script><!-- WOW JS -->
	<script src="~/foodtime/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="~/foodtime/vendor/swiper/swiper-bundle.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/foodtime/vendor/particles/particles.js"></script>
	<script src="~/foodtime/vendor/particles/particles-app.js"></script>
	<script src="~/foodtime/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/foodtime/js/dz.ajax.js"></script><!-- AJAX -->
	<script src="~/foodtime/js/custom.min.js"></script><!-- CUSTOM JS -->
	
	<script src="~/foodtime/vendor/rangeslider/rangeslider.js"></script><!-- CUSTOM JS -->
	
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}